{% extends "template.html.twig" %}

{% block title %} All Products for {{ products.0.name }} {% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th></th>
                <th>Brand</th>
                <th>Purchase</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.product_name }}</td>
                <td>{{ product.brand_name }}</td>
                <td>{{ product.size }}</td>
                <td>{{ product.msrp }}</td>
                <td><a href="/add/{{ product.upc }}/{{ product.store_id }}" class="btn btn-primary">Add to Cart</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}